<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Blocipedia</h1>
    <p>
      Thank you for joining the world's smallest wiki, <%= @user.email %>!
    </p>
    <small>
      You will have so much fun, you'll probably puke.
    </small>
    <p>
      "See what's new on Blocipedia"
    </p>
  </body>
</html>
