<br>
<h1>Create a New Wiki</h1>
<div class="row">
  <div class="col-md-4">
    <p>Policies and guidelines for creating wikis are developed by the community.</p>
    <br>
    <h5>Rules</h5>
    <ul>
      <li>Everybody love everybody</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
