<br>
<h1>Upgrade Area</h1>
<div class="row">
  <div class="col-md-12">
    <%= form_tag charges_path do %>
      <div class="bg-primary"
        <h4>Upgrade Your Account</h4>
      </div>
      <br>
        <p>For $10.00 you can upgrade your account and receive these benefits:</p>
      <ul>
        <li>Create private wikis</li>
        <li>Edit all wikis</li>
        <li>Get personalized emails</li>
      </ul>
      <p>Upgrade today by clicking the button below.</p>
      <div class="stripe-button-div">
        <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
      </div>
    <% end %>
  </div>
</div>
